<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
        <a href="#name"><span class="name">Teppei Shiroyama aka sizuma</span></a>
        <a href="mailto:teppei-shiroyama@dotstar.info"><span class="email">teppei-shiroyama@dotstar.info</span></a>
    </div></li>
    <li><a class="waves-effect" href="/profile.html"><i class="material-icons">face</i>Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a href="https://github.com/sizuma" target="_blank"><i class="material-icons">code</i>Github</a></li>
    <li><a href="http://dotstar.info" target="_blank"><i class="material-icons">business</i>Company</a></li>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">done</i>Products</div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="https://www.ksu-mastodon.com" target="_blank"><i class="material-icons">label</i>mastodon</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <li><a class="waves-effect" href="/technology.html"><i class="material-icons">language</i>technology</a></li>
    <li><a class="waves-effect" href="/contact.html"><i class="material-icons">share</i>Contact</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons side-nav-menu">menu</i></a>