<!DOCTYPE html>

<html>

    <head>
        <%- include('./part/head') %>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <main>
            <%- include('./part/sideNav') %>
            <div class="container"></div>
        </main>
    </body>
</html>